 /* ### Neutral */



/* ## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */ 

:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   background-color: var(--Almost-White);
    font-family: 'Epilogue', sans-serif;
}
li,ul,a {
    list-style: none;
    text-decoration: none;
    color: var(--Medium-Gray);
}

/* Header styles */

.header-container {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2%;
   

}

.header-logo {
    flex-basis: 10%;
}
.navlist {
    flex-basis: 70%;

   
}

.header-btn {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.list  {
    display: flex;
    width: 50%;
  
}

.list li {
    flex: 1;
    position: relative;
}
/* mobile menu */

.mobile-menu {
    display: none;
}

/* sub-menu */

#sub-menu  {
    visibility: hidden;
    opacity:0;
    transition:visibility .5s linear,opacity .5s linear;
    /* transition:opacity 1s ease-in-out; */
    position: absolute;
    /* postitioning*/
    height: 150px;
    background-color: white;
    margin-top: 30px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 18px 10px 81px -2px rgba(0,0,0,0.47);
    -webkit-box-shadow: 18px 10px 81px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 18px 10px 81px -2px rgba(0,0,0,0.47);
}

.sub-menu-1 {
    right: 70%;
    width: 170px;
}
.sub-menu-2 {
    right: 80%;
    width: 130px;
}

#sub-menu.active {
    visibility: visible;
    opacity:1;
}
.span{
margin-left: 10px;
}


.sub-menu-1 li,
.sub-menu-2 li {
    margin-bottom: 10px;
}


.btn-1.active span img,
.btn-2.active span img {
    transform: rotate(180deg);
}

/* main content styling*/

.container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.col-1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 7rem 0 7rem;
    
}
.col-1 h1 {
    font-size: 5rem;
    margin: 0;
}

.col-1 p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-right: 8em;
    color: var(--Medium-Gray);
 
}

.col-2 {
    flex-basis: 40%;
}

.img-hero {
    width: 100%;
    height: auto;
}

.img-mobile-hero{
    display: none;
}

.logos {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: 12%;
}
/* btn styles */

.btn-reg {
    border: 2px solid var(--Medium-Gray);
    padding: 13px 25px;
    border-radius: 15px;

}

.btn-reg:hover {
    border: 2px solid var(--Almost-Black);
    color: var(--Almost-White);
    background-color: var(--Almost-Black);
    transition: all .5s ease-in-out;
}

.btn-learnMore {
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    width: 150px;
    background-color: var(--Almost-Black);
    border: 1.5px solid var(--Almost-Black);
    color: var(--Almost-White);
}
.btn-learnMore:hover  {

    background-color: var(--Almost-White);
    border: 1.5px solid var(--Almost-Black);
    color: var(--Almost-Black);
    transition: all .5s ease-in-out;
}

/* media query */ 


@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
        gap: 5rem;
    }

    .img-hero
    {
        display: none;

    }
/* header */
    .header-container {
        justify-content: space-between;
        position: relative;
    }

    #sub-menu {
        position: relative;
        display: none;
   
    }
    #sub-menu.active {
        display: block;
    }

    .sub-menu-1,
    .sub-menu-2  {
       left: 5%;
    }
 
    .mobile-menu {
        display: block;
    }

    .img-mobile-hero {
        display: block;
        width: 100%;
        height: auto;
    }

    .navlist {
     
      
    }


    

    .list {
        flex-direction: column;
        position: absolute;
        left: 50%; 
        height: 100vh;
        background-color: aquamarine;
    }

   

    

    /* container */
    .col-1 {
        margin: 0;
        text-align: center;
    }

    .col-1 p {
        margin: 0;
    }
    .col-1 h1 {
        font-size: 3rem;
    }

    .btn-learnMore {
        align-self: center;
    }
}